body
{
	background-color: #2699FB;
	font-family: Arial, sans-serif, open sans;
}

#MyVideo
{
	position: static;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 300px;
}

#H1Referral
{
	position: static;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	padding: 20px;
	color: #f1f1f1;
	
	font-family: Ariel;
	color: #FFFFFF;
	font-size: 35px;
}

article
{
	background-color: #AAAAAA;
	border-color: #707070;
	border-style: dashed;
	border-width: 5px;
	margin: 1em 10% 1em 10%;
	padding: 0;
	
	font-family: Ariel;
	font-size: 15px;
}

h1
{
	color: #444444;
	font-family: Ariel;
	font-size: 80px;
	font-style: italic;
}

h2
{
	font-family: Ariel;
	font-size: 63px;
	font-variant: small-caps;
}

h3
{
	font-family: Berlin Sans FB;
	font-size: 80 px;
}


aside
{
	background-color: #F5F5F5;
	border-color: #000000;
	border-style: dashed;
	border-width: 5px;
	margin: 1em 10% 1em 10%;
	padding: 0;
}

table
{
	border-collapse: collapse;
    border: 1px solid #2699FB;
	
	margin: 1em 10% 1em 10%;
	position: static;
}

th
{
	border: 1px dotted #2699FB;
	padding: 12px;
}

td
{
	border: 1px solid #FFFFFF;
	padding: 12px;
}

col:first-child
{
	background-color: #FFFFFF;
}

.ulLightUp
{
	max-width: 200px;
	padding: 5px;
}

.ulLightUp:nth-child(odd)
{
	background: rgba(255, 255, 0, 0.4);
}	

#grid-container
{
	background-color: #EEE;
	border: solid 10px #666;
	text-align: left;
	padding: 20px 0;
	font-size: 30px;
	
	display:grid;
	grid-template-columns: auto auto;
	grid-gap: 20px;
}

#grid-container > article1
{
	background-color: #F8F;
	border: solid 10px #F0F;
	padding: 10px;
}

#grid-containter > article2
{
	background-color: #F5F5F5;
	border: solid 5px #000;
	padding: 5 px;
}

img
{
	width: 300px; 
	height: 175px;
}


#foto1, #foto2
{
	float: right;
}

footer
{
	background-color: #0000000;
	border-style: solid;
	border-width: 2px;
	margin: 2em 10% 1em 10%;
	
	font-family: Ariel;	
	color: #FFFFFF;
	font-size: 25px;
}

.nav 
{
	background-color: #FFFFFF;
	margin: 2em 10% 1em 10%;
}

#nav
{
	margin: 1em 5% 1em 5%;
	display: inline;
}



#TextReferral
{
	font-family: Ariel;
	color: #000000;
	font-size: 30px;
}
	
#GrayText 
{
	font-family: Ariel;
	color: #F5F5F5;
	font-size: 30px;
}



@media screen and (min-width: 1px) and (max-width: 475px)
{
	table
	{
	margin: 1em 10% 1em 3%;
	position: static;
	}
	
	.img
	{
		display: none;
	}

	#grid-container
	{
		display:grid;
		grid-template-columns: auto;
		grid-gap: 20px;
	}

	#foto1, #foto2, #article2, #imgKarate, #imgPlezier, #notmobile
	{
		display: none;
	}
	
	#imgLijst
	{
		height: 100px;
		width: auto;
	}
	
	#textarea
	{
	height: auto;
	width: 150px;
	}
	
			#cookies
	{
		background-color: pink;
		position: fixed;
		bottom: 0;
		right: 0;
		width: auto;
		height: 50px;
		border: 3px solid red;
		
		margin: 1em 10% 1em 10%;
		font-style: Ariel;
		font-size: 15px;
	}
}

@media screen and (min-width:475px) and (max-width:800px)
{
	body
	{
		background-color: lightblue;
	}
	
	#grid-container
	{
		grid-template-columns: auto;
	}
	
	#foto1, #foto2
	{
		display: none;
	}
	
	#imgKarate, #imgPlezier
	{
		margin: 1em 10% 1em 10%;
		
	}
	
	#imgLijst
	{
		height: 100px;
		width: auto;
	}
	
		#textarea
	{
	height: auto;
	width: 250px;
	}
	
		#cookies
	{
		background-color: pink;
		position: fixed;
		bottom: 0;
		right: 0;
		width: auto;
		height: 50px;
		border: 3px solid red;
		
		margin: 1em 10% 1em 10%;
		font-style: Ariel;
		font-size: 15px;
	}
	
}

@media screen and (min-width:800px)
{
	
	
	#imgKarate
	{
		margin: 1em 3% 1em 3%;
		float: right;
	}
	
	#imgPlezier
	{
		margin: 1em 3% 1em 3%;
	}
	
	#cookies
	{
		background-color: pink;
		z-index: 5;
		position: fixed;
		bottom: 0;
		right: 0;
		width: auto;
		height: 100px;
		border: 3px solid red;
		
		margin: 1em 10% 1em 10%;
		font-style: Ariel;
		font-size: 30px;
		font-variant: all-caps;
	}
		
}
