
@font-face 
{
	font-family: "orangejuice";
	src:url(http://bjj-jeugd.com/639567/fonts/orangejuice.ttf);
}

#appletouch180x180
{
		width: 180px;
		height: 180px;
}


#icon32x32
{
	width: 32px;
	height: 32px;
}


#icon16x16
{
	width: 16px;
	height: 16px;
}

body
{
	background-color: #2699FB;
	font-family: Arial, Helvetica, sans-serif;
}


/* Dit is de video */

#MyVideo
{
	position: fixed;
	z-index: -99999;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

#H1Referral
{
    display: block;
    top: 42%;
	min-width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	width: 500px;
	padding: 20px;
	color: #f1f1f1;
	
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 35px;
}

article
{
	background-color: #AAAAAA;
	border-color: #707070;
	border-style: dashed;
	border-width: 5px;
	margin: 1em 10% 1em 10%;
	padding: 0;
	
	font-family: 'Nunito', Arial, sans-serif;
	font-size: 15px;
}
	

h1
{
	color: #444444;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80px;
	font-style: italic;
}

h2
{
	font-family: 'orangejuice', Arial, Helvetica;
	font-size: 63px;
	font-variant: small-caps;
}

h3
{
	font-family: Berlin Sans FB, Helvetica, sans-serif;;
	font-size: 80px;
}


aside
{
	background-color: #F5F5F5;
	border-color: #222222;
	border-style: dashed;
	border-width: 2px;
	margin: 1em 10% 1em 10%;
	padding: 0;
}

table
{
	border-collapse: collapse;
    border: 1px solid #2699FB;
	
	margin: 1em 10% 1em 10%;
	position: static;
}

th
{
	border: 1px dotted #2699FB;
	padding: 12px;
}

td
{
	border: 1px solid #FFFFFF;
	padding: 12px;
}

col:first-child
{
	background-color: #FFFFFF;
}

.ulLightUp
{
	max-width: 200px;
	padding: 5px;
}

.ulLightUp:nth-child(odd)
{
	background-color: rgba(255, 255, 0, 0.4);
}	

#grid-container
{
	background-color: #EEE;
	border: solid 10px #666;
	text-align: left;
	padding: 20px 0;
	font-size: 30px;
	
	display: grid;
	grid-columns: auto auto;
	grid-gap: 20px 50px;
}

#grid-container > article1
{
	background-color: #F8F;
	border: solid 10px #F0F;
	padding: 10px;
}

#grid-container > article2
{
	background-color: #F5F5F5;
	border: solid 5px #000;
	padding: 5 px;
}

img
{
	width: 300px; 
	height: 175px;
}


#foto1, #foto2
{
	float: right;
}

footer
{
	background-color: #222222;
	border-style: solid;
	border-width: 2px;
	margin: 2em 10% 1em 10%;
	
	font-family: Arial, Helvetica, sans-serif;	
	color: #FFFFFF;
	font-size: 25px;
}

.nav 
{
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 20px;
	border-color: #FFFFFF;
	margin: 1em 5% 1em 5%;
	display: inline;
}




#TextReferral
{
	font-family: Arial, Helvetica, sans-serif;
	color: #222222;
	font-size: 30px;
}
	
#GrayText 
{
	font-family: Arial, Helvetica, sans-serif;
	color: #F5F5F5;
	font-size: 30px;
}

/* Pseudo Classes */
a:link
{
	color:#FF0000;
}
a:visited
{
	color:#00FF00;
}
a:hover
{
	color: #FF00FF;
}
a:active
{
	#0000FF;
}

@media screen and (min-width: 1px) and (max-width: 475px)
{
	table
	{
	margin: 1em 10% 1em 3%;
	position: static;
	}
	
	.img
	{
		display: none;
	}

	#grid-container
	{
		display:grid;
		grid-template-columns: auto;
		grid-gap: 20px;
	}

	#foto1, #foto2, #article2, #imgKarate, #imgPlezier, #notmobile, #H1Referral, #MyVideo
	{
		display: none;
	}
	
	.imgLijst
	{
		height: 100px;
		width: auto;
	}
	
	#textarea
	{
	height: auto;
	width: 150px;
	}
	
	.cookies
	{
		background-color: #FFB6C1;
		position: fixed;
		z-index: 9999;
		height: 50px;
		border: 3px solid red;
		
		margin: 1em 10% 1em 10%;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 15px;
	}
}

@media screen and (min-width:475px) and (max-width:800px)
{
	body
	{
		background-color: #D9E8FD;
	}
	
	#grid-container
	{
		display: grid;
		grid-template-columns: auto;
	}
	
	#foto1, #foto2
	{
		display: none;
	}
	
	#imgKarate, #imgPlezier
	{
		margin: 1em 10% 1em 10%;
		
	}
	
	#imgLijst
	{
		height: 100px;
		width: auto;
	}
	
		#textarea
	{
	height: auto;
	width: 250px;
	}
	
	.cookies
	{
		background-color: #FFB6C1;
		position: fixed;
		z-index: 9999;
		height: 50px;
		border: 3px solid #FF0000;
		
		margin: 1em 10% 1em 10%;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 15px;
	}
	
}

@media screen and (min-width:800px)
{
	
	
	#imgKarate
	{
		margin: 1em 3% 1em 3%;
		float: right;
	}
	
	#imgPlezier
	{
		margin: 1em 3% 1em 3%;
	}
	
	.cookies
	{
		background-color: #FFB6C1;
		position: fixed;
		z-index: 9999;
		height: 100px;
		border: 3px solid red;
		
		margin: 1em 10% 1em 10%;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 30px;
		font-variant: small-caps;
	}
		
}
